.html-tt {
  border: 2px solid #999;
  background-color: #fcfcfc;
  padding: .6em;
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px 3px;
  border-radius: 3px 3px;
  -webkit-box-shadow: 4px 4px 4px #aaa;
  -moz-box-shadow: 4px 4px 4px #aaa;
  box-shadow: 4px 4px 4px #aaa;
  -webkit-transition: left .5s, top .5s;
  -moz-transition: left .5s, top .5s;
  -o-transition: left .5s, top .5s;
  transition: left .5s, top .5s;
}